<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ermei.admui.mapper.MessageMapper" >
	
	<!-- 保存 -->
	<insert id="save" parameterType="message" useGeneratedKeys="true" keyProperty="messageId">
		insert into sys_message (user_id, title, content, type, send_time)
			values (#{userId}, #{title}, #{content}, #{type}, now())
	</insert>
	
	<!-- 根据message_id更新read信息 -->
	<update id="updateById" parameterType="message">
		update sys_message set read_flag = 1, read_time = now() where message_id = #{messageId}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="long">
		delete from sys_message where message_id = #{messageId}
	</delete>
	
	<!-- 根据用户id分页查询消息 -->
	<select id="queryByUser" parameterType="messageVo" resultType="message">
		select * from sys_message where user_id = #{userId}
		<if test="readFlag!=null">
			and read_flag = #{readFlag}
		</if>
		order by send_time desc
		<if test="start != null and limit != null">
		limit #{start}, #{limit}
		</if>
	</select>
	
	<!-- 根据用户id查询消息数量 -->
	<select id="getCountByUser" parameterType="messageVo" resultType="int">
		select count(1) from sys_message where user_id = #{userId}
		<if test="readFlag!=null">
			and read_flag = #{readFlag}
		</if>
	</select>
	
</mapper>